.grid-square {
  width: 520px;
  height: 520px;
}

.grid-item {
  display: inline-block;
}

.tile-text {
  user-select: none;
}

.disabled-tile::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

/* .shake { */
/*   animation: shake 0.1s; */
/* } */
/**/
/* @keyframes shake { */
/*   0% { transform: translateX(0); } */
/*   25% { transform: translateX(-10px); } */
/*   50% { transform: translateX(10px); } */
/*   75% { transform: translateX(-10px); } */
/*   100% { transform: translateX(0); } */
/* } */
